.pw-x {
}

.pw-y {
}

.pw-z {
}

.pw-table {
}

.pw-table td {
  text-align: left;
  vertical-align: top;
}

.pw-table {
  border-collapse: collapse;
}

.pw-table td {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

.pw-table td:first-child {
  padding-right: 25px;
}

.pw-inline-list {
  padding: 0;
  margin: .25em 0;
}
.pw-inline-list li {
  display: inline;
  padding: 4px 1.0em 0 0;
  margin: 0;
}

ol.pw-list, ul.pw-list {
  font-size: 80%;
  padding: 20px;
  margin:  0;
}

ol.pw-list li, ul.pw-list li {
  list-style-type: square;
  margin-top: 0;
  margin-bottom: .5em;
}

.pw-col-container {
  width: 800px;
}
.pw-col {
  float: left;
  width: 340px;
}

.pw-col-3 {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}

.pw-break {
}
